*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: tomato;
    /* background-image: linear-gradient(90deg,red,yellow); */
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 40px;
    font-family: 'Courier New', Courier, monospace;
    /* font-size: larger; */
    font-weight: 700;
}
.midsection{
    position: relative;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0px 15px black;
    width: 100%;
    height: 100%;
    min-width: 400px;
    min-height: 400px;
    display: flex;
    align-items: center;
    text-align: center;
}

.reactor-container{
    width: 300px;
    height: 300px;
    margin: auto;
    /* border: 1px dashed #888; */
    position: relative;
    border-radius: 50%;
    background-color: #33535a;
    border: 1px solid rgb(18,20,20);
    box-shadow: 8px 0 32px 8px rgb(18,20,20),
                0px 0px 4px 1px rgb(18,20,20) inset;
}
.reactor-container-inner{
    height: 238px;
    width: 238px;
    background-color: rgb(22,25,27);
    box-shadow: 0px 0px 4px 1px #52FEFE;
}
.circle{
    border-radius: 50%;
}
.abs-center{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
}
.core-inner{
    width: 70px;
    height: 70px;
    border: 5px solid #1B4E5F;
    box-shadow: 0px 0px 7px 5px #52FEFE,
                0px 0px 10px 10px #52FEFE inset;
}
.core-outer{
    width: 120px;
    height: 120px;
    border: 1px solid #52FEFE;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px 1px #52FEFE,
                0px 0px 10px 5px #52FEFE inset;
    animation: 700ms infinite alternate glow;
    animation-iteration-count: infinite;
}
@keyframes glow{
    0%{
        box-shadow: 0px 0px 2px 1px #52FEFE,
        0px 0px 10px 5px #52FEFE inset;
    }
    25%{
        box-shadow: 0px 0px 7px 1px #52FEFE,
        0px 0px 10px 5px #52FEFE inset;
    }
    50%{
        box-shadow: 0px 0px 12px 1px #52FEFE,
        0px 0px 10px 5px #52FEFE inset;
    }
    75%{
        box-shadow: 0px 0px 17px 1px #52FEFE,
        0px 0px 10px 5px #52FEFE inset;
    }
    100%{
        box-shadow: 0px 0px 22px 1px #52FEFE,
        0px 0px 10px 5px #52FEFE inset;
    }
}
.core-wrapper{
    width: 180px;
    height: 180px;
    background-color: #073c4b;
    box-shadow: 0px 0px 5px 4px #52FEFE,
                0px 0px 6px 2px #52FEFE inset;

}
.tunnel{
    width: 220px;
    height: 220px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px 1px #52FEFE,
                0px 0px 5px 4px #52FEFE inset;
}
.coil-container{
    position: relative;
    width: 100%;
    height: 100%;
    animation: 1s infinite linear reactor-anim;
}
.coil{
    position: absolute;
    width: 30px;
    height:20px;
    top:calc(50% - 110px);
    left: calc(50% - 15px);
    transform-origin: 15px 110px;
    background-color: #073c4b;
    box-shadow: 0px 0px 5px #53FEFE inset;
}
.coil-1{
    transform:rotate(0deg);
}
.coil-2{
    transform: rotate(45deg);
}
.coil-3{
    transform: rotate(90deg);
}
.coil-4{
    transform: rotate(135deg);
}
.coil-5{
    transform: rotate(180deg);
}
.coil-6{
    transform: rotate(225deg);
}
.coil-7{
    transform: rotate(270deg);
}
.coil-8{
    transform: rotate(315deg);
}
@keyframes reactor-anim{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* .upper{
    position: absolute;
    left: 0;
    right: 0;
    top: -25px;
}
.lower{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
} */
/* svg{
    width: 400px;
} */
div.circTxt{
    display: inline-block;
    margin-bottom: 128px;
    color: #073c4b;
}